html {
    font-size: 62.5;
}

body {
    // background: 
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    color: white;
}

button {
    cursor: pointer;
    color: white;
}

button:active {
    background: #95192D;
}

button:disabled {
    cursor: default;
}